<!DOCTYPE html>
<html lang="en" ng-app="angularStart">
<head>
    <meta charset="UTF-8">
    <title>Angular Başlangıc</title>

    <script src="../bower_components/angular/angular.js"></script>

    <script src="angularStart.module.js"></script>
    <script src="angularStart.controller.js"></script>
    <script src="angularStart.filters.js"></script>

</head>
<body>
    <div ng-controller="AngularStartController">
        {{title}} <br />
        <hr />

        <input type="text" ng-model="todotmp" />
        <button type="button" ng-click="onTodoAdd()">Add Todo</button><br /><br />

        <div ng-repeat="todo in todoList track by $index">
            {{todo.title}}
            <button type="button" ng-click="onTodoEditClick($index)">
                Edit
            </button>
            <button type="button" ng-click="onTodoDelete($index)">
                Delete
            </button>

            <form ng-submit="onTodoEdit($index)" ng-style="todoEditFormStyle">
                title: <input type="text" ng-bind="$scope.editForm.todo.title"/>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

</body>
</html>