<!DOCTYPE html>
<html lang="en" ng-app="angularStart">
<head>
    <meta charset="UTF-8">
    <title>Angular Başlangıc</title>

    <script src="../bower_components/angular/angular.js"></script>

    <script src="angularStart.module.js"></script>
    <script src="todoList.directive.js"></script>
    <script src="todo.directive.js"></script>
    <script src="angularStart.controller.js"></script>
    <script src="angularStart.filters.js"></script>

</head>
<body>
    <div ng-controller="AngularStartController">
        {{title}} <br />
        <hr />

        <todo-list data="todoList" />
    </div>

</body>
</html>