<input type="text" ng-model="todotmp" />
<button type="button" ng-click="onTodoAdd()">Add Todo</button><br /><br />

<todo data="todo" on-todo-delete="onTodoDelete($index)" ng-repeat="todo in data track by $index" />