<div>
    {{data.title}}
    <button type="button" ng-click="onTodoEditClick($index)">
        Edit
    </button>
    <button type="button" ng-click="onTodoDelete($index)">
        Delete
    </button>

    <form ng-submit="onTodoEdit(formData)" ng-style="todoEditFormStyle">
        title: <input type="text" ng-model="formData.title"/>
        <button type="submit">Submit</button>
    </form>
</div>